* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #333;
}

.contnr {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contnr .ring {
    position: relative;
    width: 150px;
    height: 150px;
    margin: -30px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top: 4px solid #24ecff;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.contnr .ring::before {
    content: '';
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #24ecff;
    box-shadow: -1px 2px 20px 13px rgba(0, 144, 255, 0.3);
}

.contnr .ring:nth-child(3) {
    animation: animate2 4s linear infinite;
    animation-delay: -3s;
    position: absolute;
    top: -66.66px;
    border-top: 4px solid transparent;
    border-left: 4px solid #fc0202;
}

.contnr p {
    position: absolute;
    color: #fff;
    font-size: 1.5em;
    bottom: -80px;
    letter-spacing: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0);
    }
}

.contnr .ring:nth-child(2) {
    animation: animate2 4s linear infinite;
    animation-delay: -1s;
    border-top: 4px solid transparent;
    border-left: 4px solid #93ff2d;
}

.contnr .ring:nth-child(3)::before {
    content: "";
    position: absolute;
    top: initial;
    bottom: 12px;
    left: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #fc0202;
    box-shadow: -1px 2px 20px 13px rgba(255, 0, 17, 0.365);
}

.contnr .ring:nth-child(2)::before {
    content: "";
    position: absolute;
    top: initial;
    bottom: 12px;
    left: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #93ff2d;
    box-shadow: -1px 2px 20px 13px rgba(0, 255, 13, 0.365);
}


/* THREE DOTS */